Django==2.0.4
gunicorn==19.7.1
psycopg2==2.7.4
django_widget_tweaks==1.4.2
django_countries==5.3
git+https://github.com/albertomontesg/davis-interactive.git@feature/remote-server#egg=davisinteractive
